<!DOCTYPE html>
<html>
  <title>prop1-jm</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-center w3-hide" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button"> HOME </a>
    <a href="#background" class="w3-bar-item w3-button"> BACKGROUND </a>
    <a href="#news" class="w3-bar-item w3-button"> NEWS </a>
    <a href="#workshops" class="w3-bar-item w3-button"> WORKSHOPS </a>
    <a href="#gallery" class="w3-bar-item w3-button"> GALLERY </a>
    <a href="#recipes" class="w3-bar-item w3-button"> RECIPES </a>
    <a href="#parents" class="w3-bar-item w3-button"> FOR PARENTS </a>
    <a href="#sponsors" class="w3-bar-item w3-button"> SPONSORS </a>
    <a href="#recommend" class="w3-bar-item w3-button"> RECOMMENDED </a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<header class="w3-container w3-center w3-padding-64 w3-white" id="home">
    <a href="#home" class="w3-bar-item w3-button"> HOME </a>
    <span class="text-bullet"></span>
    <a href="#news" class="w3-bar-item w3-button"> NEWS </a>
    <span class="text-bullet"></span>
    <a href="#gallery" class="w3-bar-item w3-button"> GALLERY </a>
    <span class="text-bullet"></span>
    <a href="#recipes" class="w3-bar-item w3-button"> RECIPES </a>
    <span class="text-bullet"></span>
    <a href="#parents" class="w3-bar-item w3-button"> FOR PARENTS </a>
    <span class="text-bullet"></span>
    <a href="#sponsors" class="w3-bar-item w3-button"> SPONSORS </a>
    <span class="text-bullet"></span>
    <a href="#recommend" class="w3-bar-item w3-button"> RECOMMENDED </a>
</header>

<div class="bgimg-1 w3-display-container w3-opacity-min"></div>

<div class="w3-content w3-container w3-padding-64" id="background">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-green">PROJECT BACKGROUND</h1>
  </div>
  <div class="w3-section">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, inventore? Fugiat non   quibusdam distinctio at cumque architecto quidem vero. Asperiores aspernatur maxime nemo quam,  corporis minima dolorem quis optio rem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, voluptate sed! Perspiciatis fugit   repellendus numquam saepe odio et est voluptates sint consectetur quasi, repellat quia doloremque   cumque odit, dignissimos aliquid.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga laudantium iusto minus, laborum  deserunt culpa id aliquid, corrupti vero odit officiis quia assumenda neque aut, dignissimos   accusamus! Rem, illo deserunt?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, inventore? Fugiat non   quibusdam distinctio at cumque architecto quidem vero. Asperiores aspernatur maxime nemo quam,  corporis minima dolorem quis optio rem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, voluptate sed! Perspiciatis fugit   repellendus numquam saepe odio et est voluptates sint consectetur quasi, repellat quia doloremque   cumque odit, dignissimos aliquid.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga laudantium iusto minus, laborum  deserunt culpa id aliquid, corrupti vero odit officiis quia assumenda neque aut, dignissimos   accusamus! Rem, illo deserunt?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, inventore? Fugiat non   quibusdam distinctio at cumque architecto quidem vero.
  </p>
  </div>
  <div class="w3-center"><i class="fa fa-angle-down w3-xxxlarge"></i></div>
</div>

<div class="w3-row w3-light-grey w3-section">
  <div class="w3-content w3-container" id="news">
        <div class="w3-display-container w3-padding-64">
          <h1 class="w3-display-middle w3-text-green">NEWS</h1>
        </div>
    <div class="w3-row">
      <div class="w3-col m3 w3-border w3-margin">
          <img src="images/n1.jpg" onclick="onClick(this)" class="w3-hover-opacity w3-border w3-image" alt="Kwiat">
      </div>
      <div class="w3-col l3">
        <h6 class="w3-medium w3-text-green"><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </b></h6>
        <p class="w3-small"> Quasi iste repudiandae deleniti   tenetur eveniet cupiditate in quod libero nobis iure ad, mollitia adipisci inventore sint?  Nesciunt totam officia ea reiciendis!
        </p>
        <i class="fa fa-angle-down w3-xlarge w3-text-green"></i>
      </div>
      <div class="w3-col l3">
          <img src="images/n2.jpg" style="width:100%;" onclick="onClick(this)" class="w3-hover-opacity   w3-border w3-padding" alt="Kwiat">
      </div>
      <div class="w3-col m3">
        <h6 class="w3-medium w3-text-green"><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </b></h6>
        <p class="w3-small"> Quasi iste repudiandae deleniti   tenetur eveniet cupiditate in quod libero nobis iure ad, mollitia adipisci inventore sint?  Nesciunt totam officia ea reiciendis!
        </p>
        <a href="#news"><i class="fa fa-angle-down w3-xlarge w3-text-green"></i></a>
      </div>
    </div>
    <div class="w3-row-padding w3-section">
      <div class="w3-col m3">
        <h6 class="w3-medium w3-text-green"><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </b></h6>
        <p class="w3-small"> Quasi iste repudiandae deleniti   tenetur eveniet cupiditate in quod libero nobis iure ad, mollitia adipisci inventore sint?  Nesciunt totam officia ea reiciendis!
        </p>
        <i class="fa fa-angle-down w3-xlarge w3-text-green"></i>
      </div>
        <div class="w3-col m3">
          <img src="images/n3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity   w3-border w3-padding" alt="Kwiat">
        </div>
      <div class="w3-col m3">
        <h6 class="w3-medium w3-text-green"><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </b></h6>
        <p class="w3-small"> Quasi iste repudiandae deleniti   tenetur eveniet cupiditate in quod libero nobis iure ad, mollitia adipisci inventore sint?  Nesciunt totam officia ea reiciendis!
        </p>
        <i class="fa fa-angle-down w3-xlarge w3-text-green"></i>
      </div>
      <div class="w3-col m3">
        <img src="images/n4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity   w3-border w3-padding" alt="Kwiat">
      </div>
    </div>    
  </div>
  <div class="w3-center"><i class="fa fa-angle-down w3-xxxlarge"></i></div>
</div>

<div class="w3-content w3-container w3-padding-64" id="workshops">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-green">WORKSHOP PROFILE</h1>
  </div>
  <div class="w3-section">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, inventore? Fugiat non   quibusdam distinctio at cumque architecto quidem vero. Asperiores aspernatur maxime nemo quam,  corporis minima dolorem quis optio rem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, voluptate sed! Perspiciatis fugit   repellendus numquam saepe odio et est voluptates sint consectetur quasi, repellat quia doloremque   cumque odit, dignissimos aliquid.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga laudantium iusto minus, laborum  deserunt culpa id aliquid, corrupti vero odit officiis quia assumenda neque aut, dignissimos   accusamus! Rem, illo deserunt?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, inventore? Fugiat non   quibusdam distinctio at cumque architecto quidem vero. Asperiores aspernatur maxime nemo quam,  corporis minima dolorem quis optio rem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, voluptate sed! Perspiciatis fugit   repellendus numquam saepe odio et est voluptates sint consectetur quasi, repellat quia doloremque   cumque odit, dignissimos aliquid.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga laudantium iusto minus, laborum  deserunt culpa id aliquid, corrupti vero odit officiis quia assumenda neque aut, dignissimos   accusamus! Rem, illo deserunt?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, inventore? Fugiat non   quibusdam distinctio at cumque architecto quidem vero.
  </p>
  </div>
  <div class="w3-center"><i class="fa fa-circle-o-notch w3-xxxlarge"></i></div>
</div>
<div class="separator-thin"></div>
<div class="separator-blank"></div>
<div class="separator-thick"></div>


<div class="w3-content w3-container w3-padding" id="gallery">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-green">GALLERY</h3>
  </div>

  <div class="w3-row-padding w3-display-center">

    <div class="w3-col m4">
      <img src="images/g1.jpg" style="width:100%;" onclick="onClick(this)" class="w3-hover-opacity" alt="Liście">
    </div>

    <div class="w3-col m4">
      <img src="images/g2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Trawa">
    </div>

    <div class="w3-col m4">
      <img src="images/g3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Drzewa">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m4">
      <img src="images/g4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Most">
    </div>

    <div class="w3-col m4">
      <img src="images/g5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Ścieżka">
    </div>

    <div class="w3-col m4">
      <img src="images/g6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Szyszka">
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<div class="bgimg-3 w3-container" id="recipes">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-white">RECIPES</h1>
  </div>
  <div class="w3-content w3-container w3-padding-64">
    <div class="w3-row-padding w3-center">
      <div class="w3-col w3-container" style="width: 20%">
        <i class="fa fa-ship w3-jumbo recipe-icon"></i>
        <h2 class="w3-text-white">SHIP</h2>
      </div>
      <div class="w3-col w3-container" style="width: 20%">
        <i class="fa fa-ship w3-jumbo recipe-icon"></i>
        <h2 class="w3-text-white">SHIP</h2>
      </div>
      <div class="w3-col w3-container" style="width: 20%">
        <i class="fa fa-ship w3-jumbo recipe-icon"></i>
        <h2 class="w3-text-white">SHIP</h2>
      </div>
      <div class="w3-col w3-container" style="width: 20%">
        <i class="fa fa-ship w3-jumbo recipe-icon"></i>
        <h2 class="w3-text-white">SHIP</h2>
      </div>
      <div class="w3-col w3-container" style="width: 20%">
        <i class="fa fa-ship w3-jumbo recipe-icon"></i>
        <h2 class="w3-text-white">SHIP</h2>
      </div>
    </div>
  </div>
</div>
<div class="w3-content w3-container w3-padding-64" id="parents">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-green">FOR PARENTS</h1>
  </div>
  
  <div class="w3-section">
  
  </div>

  <div class="w3-center"><i class="fa fa-circle-o-notch w3-xxxlarge"></i></div>
</div>

<!-- Container (Contact Section) -->
<div class="separator-thin"></div>
<div class="separator-blank"></div>
<div class="separator-thick"></div>
<div class="w3-content w3-container w3-padding-64" id="sponsors">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-green">SPONSORS</h1>
  </div>

</div>
<div class="separator-thin"></div>
<div class="separator-blank"></div>
<div class="separator-thick"></div>
<div class="w3-content w3-container w3-padding-large" id="recommend">
  <div class="w3-display-container w3-padding-64">
    <h1 class="w3-display-middle w3-text-green">LOGO</h1>
  </div>

</div>
<footer class="w3-center w3-green w3-padding-32"></footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
        navbar.className.replace(" w3-hide", "")
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
        if(navbar.className.indexOf("w3-hide" == -1)){
          navbar.className += " w3-hide";
        }
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
